<h1>Details About This Mobile Phone</h1>

<p>
  <b>Label:</b>
  <%= @mobile_phone.label %>
</p>

<p>
  <b>Number:</b>
  <%= number_to_phone(@mobile_phone.number) %>
</p>

<p>
  <b>Carrier:</b>
  <%= SMSFu.carrier_name(@mobile_phone.carrier) %>
</p>


<%= link_to 'Edit', edit_mobile_phone_path(@mobile_phone), :class => 'btn btn-medium btn-info' %> <%= link_to 'Back', mobile_phones_path, :class => 'btn btn-medium btn-default' %>
