<%= form_for(@tracker) do |f| %>
  <% if @tracker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tracker.errors.count, "error") %> prohibited this tracker from being saved:</h2>

      <ul>
      <% @tracker.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bus_id, "Select Your Bus" %><br />
    <%= f.select :bus_id, options_from_collection_for_select(Bus.order('name asc').all, 'id', 'name', @tracker.bus_id), :include_blank => true %>
    <span class="help-block"><em>Both Lucas buses are grouped together, because the Twitter account isn't consistent about listing Lucas 1 and Lucas 2 separately.</em></span>
  </div>
  <div class="field">
    <%= f.label :track, "Select Your Track" %><br />
    <%= f.select :track,  options_for_select([[nil,nil],['Track 1', 1], ['Track 2', 2], ['Track 3', 3], ['Track 4', 4]], @tracker.track)%>
  </div>
  <div class="field">
    <%= f.check_box :active %> <%= f.label :active, "Is this tracker active?" %>    
  </div>
  <div class="actions">
    <%= f.submit nil, :class => "btn btn-large btn-success" %>
  </div>
<% end %>
