<h1>Listing Bus Trackers</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Phone Numbers</th>
      <th>Bus</th>
      <th>Track</th>
      <th>Active?</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>

<% @trackers.each do |tracker| %>
    <tr>
      <td><%= tracker.user %></td>
      <td><%= format_phones(tracker.user.mobile_phones) %></td>
      <td><%= tracker.bus %></td>
      <td><%= tracker.track %></td>
      <td><%= yes_no(tracker.active) %></td>
      <td><%= link_to 'Details', tracker, class: "label label-success" %>
        <%= link_to 'Edit', edit_tracker_path(tracker), class: "label label-info" %>
        <%= link_to 'Delete', tracker, method: :delete, data: { confirm: 'Are you sure? You will no longer get alerts for this bus.' }, class: "label label-warning" %></td>
    </tr>
<% end %>
  </tbody>
</table>

<br />

<%= link_to 'Make A New Bus Tracker', new_tracker_path, :class => 'btn btn-large btn-success' %>
