<p>
  <b>User:</b>
  <%= @tracker.user %>
</p>

<p>
  <b>Bus:</b>
  <%= @tracker.bus %>
</p>

<p>
  <b>Track:</b>
  <%= @tracker.track %>
</p>

<p>
  <b>Active:</b>
  <%= @tracker.active %>
</p>


<%= link_to 'Edit', edit_tracker_path(@tracker) %> |
<%= link_to 'Back', trackers_path %>
